.hero-image {
    background: url('../assets/MYFF/IMG_0308.JPG');
    width: 100%;
    height: 522px;
    /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homeTitle {
    color: #F3B90D;
    font-size: 96px;
    margin: 10px;
}

.subTitle {
    color: #FFF;
    font-size: 64px;
}

.subText {
    color: #F3B90D;
    font-size: 48px;
}